@charset "UTF-8";

@font-face {
  font-family: TTNormsPro;
  font-display: swap;
  src: url("../fonts/TTNormsPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TTNormsPro;
  font-display: swap;
  src: url("../fonts/TTNormsPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TTNormsPro;
  font-display: swap;
  src: url("../fonts/TTNormsPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-black: #000;
  --color-blackVampire: #0A0705;
  --color-blackChinese: #121414;
  --color-blackLuma: #141717;
  --color-white: #fff;
  --color-gray: #C0C0C0;
  --color-grayBright: #EAEAEA;
  --color-orange: #F28243;
  --color-green: #3FAD46;
  --color-red: #D9534F;
  --color-blue: #5BC0DE;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--color-white);
  background-color: var(--color-blackVampire);
  line-height: 1;
  font-family: "TTNormsPro", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TTNormsPro", sans-serif;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: unset;
}

body {
  font-weight: 500;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

._flyImage._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

._hold {
  opacity: 0.4;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: not-allowed;
}

.simplebar-scrollbar:before {
  left: 0 !important;
  right: 0 !important;
  width: 6px !important;
  opacity: 1 !important;
  background-color: var(--color-orange) !important;
  border-radius: unset !important;
}

.simplebar-track {
  width: 6px !important;
  background-color: #1B1F1F !important;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url("../img/bg.jpg") top/cover no-repeat;
}          .webp .wrapper {            background: url("../img/bg.webp") top/cover no-repeat          }                  .avif .wrapper {            background: url("../img/bg.avif") top/cover no-repeat          }        

.wrapper > main {
  flex: 1 1 auto;
}

.cart-menu-open .wrapper::before {
  opacity: 1;
  visibility: visible;
}

.wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.popup-show .wrapper::before {
  content: "";
  opacity: 1;
  visibility: visible;
}

.js-focus-visible :focus-visible {
  -webkit-transition: outline 0.1s ease 0s;
  -o-transition: outline 0.1s ease 0s;
  transition: outline 0.1s ease 0s;
  outline: 0.1875rem solid var(--color-orange);
  z-index: 2;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: var(--color-blackChinese);
  width: 100%;
  max-width: 26.25rem;
}

@supports (padding: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem )) {
  .popup__content {
    padding: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem );
  }
}

@supports not (padding: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem )) {
  .popup__content {
    padding: calc(0.625rem + 1.25 * (100vw - 20rem) / 66.25);
  }
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
}

@supports (top: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem )) {
  .popup__close {
    top: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem );
  }
}

@supports not (top: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem )) {
  .popup__close {
    top: calc(0.625rem + 1.25 * (100vw - 20rem) / 66.25);
  }
}

@supports (right: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem )) {
  .popup__close {
    right: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem );
  }
}

@supports not (right: clamp( 0.625rem , 0.2476415094rem  +  1.8867924528vw , 1.875rem )) {
  .popup__close {
    right: calc(0.625rem + 1.25 * (100vw - 20rem) / 66.25);
  }
}

.popup__close .close {
  width: 1.25rem;
  height: 1.25rem;
}

.popup__wrapper_info {
  overflow: auto;
  height: 22.5rem;
}

.popup__title {
  font-size: 1.75rem;
  line-height: 1.2142857143;
  margin-bottom: 1.875rem;
}

.popup__block-info {
  padding-right: 20px;
}

.popup__block-info:not(:last-child) {
  margin-bottom: 1.875rem;
}

.popup__text_info {
  line-height: 1.2222222222;
  font-weight: 400;
  margin-top: 1.25rem;
  color: var(--color-gray);
}

.popup__text_info span {
  color: var(--color-white);
}

.popup__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.4375rem;
}

.popup__label {
  position: relative;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  font-size: 0.875rem;
  color: #BABABA;
  margin-bottom: 1.25rem;
}

.popup__input {
  font-size: 1.125rem;
  margin-top: 0.4375rem;
  padding: 1.25rem;
  background-color: #1B1F1F;
}

.popup__input::-webkit-input-placeholder {
  color: #505050;
}

.popup__input::-moz-placeholder {
  color: #505050;
}

.popup__input:-ms-input-placeholder {
  color: #505050;
}

.popup__input::-ms-input-placeholder {
  color: #505050;
}

.popup__input::placeholder {
  color: #505050;
}

.popup_cart__payment {
  display: flex;
  justify-content: space-between;
}

.popup_cart__price {
  display: flex;
  align-items: end;
}

.popup_cart__price s {
  font-size: 0.75rem;
  font-weight: 400;
  margin-right: 0.375rem;
}

.popup_cart__btn {
  margin-top: 1.375rem;
  width: 100%;
  padding: 0.8125rem;
}

.popup_payment__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.popup_payment__item {
  display: block;
  height: 4.5rem;
}

.popup_payment__item_card {
  flex: 0 1 360px;
}

.popup_payment__item_qiwi,
.popup_payment__item_yoomoney {
  flex: 0 1 175px;
}

.popup_payment__item_mts,
.popup_payment__item_megafon,
.popup_payment__item_tele2 {
  flex: 0 0 113px;
}

.popup_payment__gateway {
  margin-top: 25px;
  text-align: center;
}

.popup_payment__gateway-title {
  font-size: 0.5625rem;
  font-weight: 700;
  color: #7B7B7B;
  margin-bottom: 10px;
}

.popup_payment__agree {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.3;
  color: #BABABA;
  margin-top: 33px;
}

.popup_payment__agree a {
  color: var(--color-white);
  text-decoration: underline !important;
}

.just-validate-error-label {
  position: absolute;
  top: -6px;
  right: 0;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #E94040;
  padding: 6px 13px;
  color: var(--color-white) !important;
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:active:not(._hold) {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.btn_blue {
  background-color: var(--color-blue);
  -webkit-box-shadow: 0px 2px 0px #3A788A;
          box-shadow: 0px 2px 0px #3A788A;
}

.btn_green {
  background-color: var(--color-green);
  -webkit-box-shadow: 0px 2px 0px #225B26;
          box-shadow: 0px 2px 0px #225B26;
}

.btn_green_light {
  background: #4DA564;
  -webkit-box-shadow: 0px 4px 0px #346B43;
          box-shadow: 0px 4px 0px #346B43;
}

.btn_red {
  background-color: var(--color-red);
  -webkit-box-shadow: 0px 2px 0px #823331;
          box-shadow: 0px 2px 0px #823331;
}

.btn_orange {
  background: var(--color-orange);
  -webkit-box-shadow: 0px 3px 0px #AE5624;
          box-shadow: 0px 3px 0px #AE5624;
}

.btn-quantity {
  width: 2.125rem;
  height: 2.125rem;
}

.discord {
  width: 1.5rem;
  height: 1.125rem;
}

.vk {
  width: 1.5rem;
  height: 0.875rem;
}

.tg {
  width: 1.25rem;
  height: 1rem;
}

.socials__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.socials__item:hover {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.socials__item_discord {
  background: #5865F2;
  -webkit-box-shadow: 0px 4px 0px #343B8B;
          box-shadow: 0px 4px 0px #343B8B;
}

.socials__item_vk {
  background: #2787F5;
  -webkit-box-shadow: 0px 4px 0px #174B86;
          box-shadow: 0px 4px 0px #174B86;
}

.socials__item_tg {
  background: #2AABEE;
  -webkit-box-shadow: 0px 4px 0px #1D688E;
          box-shadow: 0px 4px 0px #1D688E;
}

.header {
  position: relative;
  z-index: 5;
}

.header__container {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 2.5rem 0.625rem;
}

.header__logo {
  display: none;
}

.header__list {
  display: none;
}

.header .header__btn._copy {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 2px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 14.875rem;
  height: 2.875rem;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  background-color: var(--color-orange);
}

.header .header__btn._copy .header__ip,
.header .header__btn._copy .header__online {
  display: none;
}

.header .header__btn._copy::before {
  content: "СКОПИРОВАНО";
  color: var(--color-black);
}

.header__btn {
  border: 2px solid var(--color-orange);
  -webkit-box-shadow: 0px 3px 0px #AE5624;
          box-shadow: 0px 3px 0px #AE5624;
}

.header__ip {
  display: inline-block;
  padding: 0.625rem 1.25rem;
}

.header__online {
  display: inline-block;
  color: var(--color-black);
  background-color: var(--color-orange);
  padding: 0.625rem 1.125rem;
}

.header__burger {
  display: none;
}

.menu-open .burger__menu {
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}

.burger__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: auto;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #0C0E0D;
  padding-bottom: 100px;
}

.footer__copyright-neptune {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  background-color: #FF922E;
  text-fill-color: transparent !important;
  font-weight: 400;
  -webkit-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.footer__copyright-neptune span {
  font-weight: 500;
  text-decoration: underline !important;
  -webkit-text-decoration-color: #FF922E !important;
          text-decoration-color: #FF922E !important;
  -webkit-transition: -webkit-text-decoration-color 0.25s ease-out;
  transition: -webkit-text-decoration-color 0.25s ease-out;
  -o-transition: text-decoration-color 0.25s ease-out;
  transition: text-decoration-color 0.25s ease-out;
  transition: text-decoration-color 0.25s ease-out, -webkit-text-decoration-color 0.25s ease-out;
}

.footer__copyright-neptune:hover {
  background-color: #fff;
}

.footer__copyright-neptune:hover span {
  -webkit-text-decoration-color: #fff !important;
          text-decoration-color: #fff !important;
}

.footer {
  padding: 2.5rem 0;
  background-color: #0C0E0D;
  font-size: 0.875rem;
}

.footer__container {
  display: flex;
}

.footer__copyright-title {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.footer__copyright-text {
  font-weight: 300;
  color: var(--color-gray);
  line-height: 1.4285714286;
  margin-bottom: 0.75rem;
}

.footer__copyright-link {
  color: #eaeaea;
}

.footer__politics-text {
  font-weight: 300;
  color: var(--color-gray);
  line-height: 1.4285714286;
  margin-bottom: 0.75rem;
}

.footer__politics-link {
  color: var(--color-white);
  text-decoration: underline !important;
}

.footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__socials {
  display: flex;
  gap: 1.25rem;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

@supports (margin-bottom: clamp( 5rem , 4.2452830189rem  +  3.7735849057vw , 7.5rem )) {
  .products {
    margin-bottom: clamp( 5rem , 4.2452830189rem  +  3.7735849057vw , 7.5rem );
  }
}

@supports not (margin-bottom: clamp( 5rem , 4.2452830189rem  +  3.7735849057vw , 7.5rem )) {
  .products {
    margin-bottom: calc(5rem + 2.5 * (100vw - 20rem) / 66.25);
  }
}

.products__container {
  display: grid;
  min-height: 65.75rem;
  gap: 2.5rem;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 360px 1fr;
  align-items: start;
}

.products__container::before {
  content: "";
  grid-column: 1/3;
  display: block;
  background: url("../img/dragon-bg.jpg") center/cover no-repeat;
}          .webp .products__container::before {            background: url("../img/dragon-bg.webp") center/cover no-repeat          }                  .avif .products__container::before {            background: url("../img/dragon-bg.avif") center/cover no-repeat          }        

@supports (width: clamp( 21.25rem , 1.6273584906rem  +  98.1132075472vw , 86.25rem )) {
  .products__container::before {
    width: clamp( 21.25rem , 1.6273584906rem  +  98.1132075472vw , 86.25rem );
  }
}

@supports not (width: clamp( 21.25rem , 1.6273584906rem  +  98.1132075472vw , 86.25rem )) {
  .products__container::before {
    width: calc(21.25rem + 65 * (100vw - 20rem) / 66.25);
  }
}

@supports (height: clamp( 13.125rem , 10.2948113208rem  +  14.1509433962vw , 22.5rem )) {
  .products__container::before {
    height: clamp( 13.125rem , 10.2948113208rem  +  14.1509433962vw , 22.5rem );
  }
}

@supports not (height: clamp( 13.125rem , 10.2948113208rem  +  14.1509433962vw , 22.5rem )) {
  .products__container::before {
    height: calc(13.125rem + 9.375 * (100vw - 20rem) / 66.25);
  }
}

.products__list {
  display: grid;
  visibility: visible;
  -webkit-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
  opacity: 1;
  grid-column: 2;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.25rem;
}

.products__list[hidden] {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blackLuma);
  padding: 1.25rem;
}

.products__item-img {
  margin-bottom: 1.25rem;
}

.products__item-title {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.25em;
}

.products__item-price {
  color: var(--color-orange);
}

.products__item-btns {
  display: flex;
  margin-top: 1.875rem;
}

.products__item-btn-info {
  margin-right: 0.875rem;
}

.products__item-btn-cart {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 35px;
}

.products__item-btn-cart::before,
.products__item-btn-cart::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 16px;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}

.products__item-btn-cart::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.products__item-quantity {
  display: none;
  gap: 5px;
}

.products__item-btn-minus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__item-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: var(--color-white);
  color: var(--color-black);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.125rem;
  border: 1px solid #BBBBBB;
  -webkit-box-shadow: 0px 2px 0px #6D6D6D;
          box-shadow: 0px 2px 0px #6D6D6D;
}

.products__item-btn-plus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__item-btn-plus::before,
.products__item-btn-plus::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}

.products__item-btn-plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info {
  width: 0.375rem;
  height: 0.875rem;
}

.plus {
  width: 1.5rem;
  height: 1.5rem;
}

.minus {
  width: 1rem;
  height: 0.125rem;
}

.asidebar {
  grid-column: 1;
}

.cart {
  display: flex;
}

.cart-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 100%;
  max-width: 27.5rem;
  height: 100%;
  padding: 1.875rem;
  -webkit-transition: left 0.5s ease 0s;
  -o-transition: left 0.5s ease 0s;
  transition: left 0.5s ease 0s;
  background-color: var(--color-blackChinese);
}

.cart-menu-open .cart-menu {
  left: 0;
}

.cart-menu__close {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
}

.cart-menu__close .close {
  width: 1.25rem;
  height: 1.25rem;
}

.cart-menu__title {
  font-size: 1.5rem;
}

.cart-menu__info {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 5px;
  color: #C0C0C0;
}

.cart-menu__items {
  margin-top: 4.375rem;
}

.cart-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.9375rem 1.25rem;
  background-color: #0C0E0D;
}

.cart-menu__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.cart-menu__item-title {
  display: flex;
  align-items: center;
  color: var(--color-orange);
  margin-bottom: 0.3888888889em;
}

.cart-menu__item-title div {
  display: inline-block;
  font-size: 0.875rem;
  color: #0C0E0D;
  background-color: var(--color-orange);
  padding: 0.0625rem 0.375rem;
  margin-right: 0.5rem;
}

.cart-menu__item-price {
  font-size: 1rem;
}

.cart-menu__item-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.625rem;
  height: 1.625rem;
}

.cart-menu__item-close .close {
  width: 0.875rem;
  height: 0.875rem;
}

.cart-menu__btn {
  width: 100%;
  padding: 0.8125rem;
  margin-top: 1.875rem;
}

.cart-menu__btn_gray {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1.1875rem;
  font-size: 1rem;
  color: #636363;
  background-color: #191D1D;
}

.cart__title {
  margin-bottom: 5px;
}

.cart__info {
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 0.7;
}

.cart__icon span {
  display: none;
}

.cart__icon .basket {
  width: 2.5rem;
  height: 2.5rem;
}

.category__title {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-orange);
  font-weight: 700;
  background-color: var(--color-blackLuma);
  padding: 0.625rem 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.category__list {
  display: flex;
  flex-direction: column;
}

.category__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
  padding: 0.9375rem 1.875rem;
  background-color: var(--color-blackLuma);
}

.category__item[aria-selected=true] {
  background-color: var(--color-blackChinese);
  -webkit-box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.category__item-title {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 48em) {
  .menu-open .wrapper::before {
    opacity: 1;
    visibility: visible;
  }

  .header__logo {
    display: block;
  }

@supports (margin-right: clamp( 0.0000000625rem , -1.4150942583rem  +  7.0754716038vw , 4.6875rem )) {
    .header__logo {
      margin-right: clamp( 0.0000000625rem , -1.4150942583rem  +  7.0754716038vw , 4.6875rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -1.4150942583rem  +  7.0754716038vw , 4.6875rem )) {
    .header__logo {
      margin-right: calc(0.0000000625rem + 4.6874999375 * (100vw - 20rem) / 66.25);
    }
}

  .header__nav {
    flex: 1 1 auto;
    text-transform: uppercase;
  }

  .header__list {
    display: flex;
    align-items: center;
  }

@supports (gap: clamp( 1.25rem , 0.8726415094rem  +  1.8867924528vw , 2.5rem )) {
    .header__list {
      gap: clamp( 1.25rem , 0.8726415094rem  +  1.8867924528vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8726415094rem  +  1.8867924528vw , 2.5rem )) {
    .header__list {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 66.25);
    }
}

  .cart {
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-blackLuma);
    padding: 1.25rem 1.875rem;
    margin-bottom: 1.25rem;
    max-width: 340px;
    width: 100%;
    gap: 0.625rem;
  }

  .cart__title {
    flex: 1 1 auto;
    text-align: start;
  }
}

@media (min-width: 48em) and (any-hover: hover) {
  .cart {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .cart:hover {
    color: var(--color-orange);
  }
}

@media (min-width: 62em) {
  .footer__container {
    justify-content: space-between;
  }

@supports (margin-right: clamp( 0.0000000625rem , -0.8490565224rem  +  4.2452829245vw , 2.8125rem )) {
    .footer__logo {
      margin-right: clamp( 0.0000000625rem , -0.8490565224rem  +  4.2452829245vw , 2.8125rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -0.8490565224rem  +  4.2452829245vw , 2.8125rem )) {
    .footer__logo {
      margin-right: calc(0.0000000625rem + 2.8124999375 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -1.3207546356rem  +  6.6037734906vw , 4.375rem )) {
    .footer__block-copyright {
      margin-right: clamp( 0.0000000625rem , -1.3207546356rem  +  6.6037734906vw , 4.375rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -1.3207546356rem  +  6.6037734906vw , 4.375rem )) {
    .footer__block-copyright {
      margin-right: calc(0.0000000625rem + 4.3749999375 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -1.226415013rem  +  6.1320753774vw , 4.0625rem )) {
    .footer__block-politics {
      margin-right: clamp( 0.0000000625rem , -1.226415013rem  +  6.1320753774vw , 4.0625rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -1.226415013rem  +  6.1320753774vw , 4.0625rem )) {
    .footer__block-politics {
      margin-right: calc(0.0000000625rem + 4.0624999375 * (100vw - 20rem) / 66.25);
    }
}

  .footer__nav {
    flex: 1 1 auto;
  }
}

@media (max-width: 424px) {
  .popup_payment__item_qiwi,
  .popup_payment__item_yoomoney {
    flex: 0 1 125px;
  }

  .popup_payment__item_mts,
  .popup_payment__item_megafon,
  .popup_payment__item_tele2 {
    flex: 0 0 90px;
  }
}

@media (max-width: 370px) {
  .header__container {
    justify-content: space-between;
  }

  .header__btn {
    display: none;
  }
}

@media (max-width: 87.49875em) {
  .products__container::before {
    margin-left: -10px;
  }
}

@media (max-width: 74.99875em) {
  .products__container {
    grid-template-rows: 330px 1fr;
  }
}

@media (max-width: 61.99875em) {
  .footer {
    padding: 20px 0 0 0;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
  }

  .footer__nav {
    width: 105%;
    background-color: var(--color-blackLuma);
    padding: 1.25rem 0.625rem;
  }

  .footer__socials {
    justify-content: center;
    width: 105%;
    background-color: var(--color-blackLuma);
    padding: 1.25rem 0.625rem;
  }

  .products__container {
    grid-template-rows: 290px 1fr;
  }
}

@media (max-width: 47.99875em) {
  .wrapper > main {
    padding-top: 106px;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .header__container {
    background-color: #0A0705;
    padding: 1.875rem 0.625rem;
  }

  .header__nav {
    display: none;
  }

  .header__btn {
    margin: 0 auto;
  }

  .header__burger {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-orange);
    -webkit-box-shadow: 0px 3px 0px #AE5624;
            box-shadow: 0px 3px 0px #AE5624;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .header__burger {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .burger {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    z-index: 3;
    margin: auto;
  }

  .burger span,
  .burger::before,
  .burger::after {
    content: "";
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 5px;
    background-color: var(--color-blackLuma);
  }

  .burger::before {
    top: 0px;
  }

  .burger::after {
    height: 3px;
    bottom: 0px;
  }

  .burger span {
    top: calc(50% - 1px);
  }

  .menu-open .burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .burger::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .burger::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1.5px);
  }

  .products__container {
    grid-template-rows: 240px 1fr;
  }

  .products__tabs {
    grid-column: 1/3;
  }

@supports (padding-right: clamp( 0.625rem , 2.2523584906rem  +  -1.8867924528vw , 1.875rem )) {
    .products__list {
      padding-right: clamp( 0.625rem , 2.2523584906rem  +  -1.8867924528vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 2.2523584906rem  +  -1.8867924528vw , 1.875rem )) {
    .products__list {
      padding-right: calc(1.875rem + -1.25 * (100vw - 20rem) / 66.25);
    }
}

  .cart-menu {
    max-width: 25rem;
  }

  .cart {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-orange);
    -webkit-box-shadow: 0px 3px 0px #AE5624;
            box-shadow: 0px 3px 0px #AE5624;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .cart-open .cart {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .cart__block-text {
    display: none;
  }

  .cart__icon {
    margin: auto;
    width: 1.875rem;
    height: 1.875rem;
  }

  .cart__icon span {
    content: attr(data-count);
    display: flex;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.0625rem 0.375rem;
    background-color: var(--color-white);
    color: var(--color-blackVampire);
    font-size: 0.875rem;
    font-weight: 700;
  }

  .cart__icon .basket {
    color: var(--color-blackLuma);
    width: 1.875rem;
    height: 1.875rem;
  }

  .category {
    display: none;
  }

  .category__list {
    padding: 0 0.625rem;
  }
}

@media (max-width: 29.99875em) {
  .products__container {
    grid-template-columns: 260px 1fr;
    grid-template-rows: 180px 1fr;
  }

  .cart-menu {
    max-width: none;
  }

  .cart-menu__close {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .cart-menu__close::before {
    content: "ЗАКРЫТЬ";
    font-size: 16px;
    color: var(--color-black);
    margin-right: 9px;
  }

  .cart-menu__close .close {
    width: 0.9375rem;
    height: 0.9375rem;
  }

  .cart-menu__title {
    margin-top: 2rem;
  }
}

@media (any-hover: hover) {
  .header__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .header__link:hover {
    color: var(--color-orange);
  }

  .footer__politics-link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .footer__politics-link:hover {
    color: var(--color-orange);
  }

  .footer__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .footer__link:hover {
    color: var(--color-orange);
  }

  .category__item:hover .category__item-title {
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.3);
  }
}